.benefit-section {
    height: 100vh;
    min-height: 768px;

    .bg-img {
        background: url('../../assets/imgs/abbat-hY1Y3Xxo7Uw-unsplash.webp') no-repeat;
        background-size: cover;
        height: 100%;
    }
}