.App {
    
    input[type="password"]{
        position: relative;
        &:before {
            content: ' ';
            background: url('./assets/imgs/eye-slash.svg');
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

